.headImg {
    width: 50px;
    animation: rotate 2s linear infinite;
}

.numBox {
    margin: 10px 0;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.a {
    color: brown;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.b {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}


.appName {
    padding-left: 200px;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    position: relative;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(180deg)
    }
}