.minMenuBox {
    display: flex;
    flex-direction: row;
    background-color: #ddaacc;
}

.minMenuBox li {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    flex-wrap: wrap;
    margin: 0 5px;
}

.minMenuBox li a {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    display: inline-block;
}

.minMenu.is_active {
    background-color: coral;
}

/* Core_1 */
.headImg {
    width: 50px;
    animation: rotate 2s linear infinite;
}

.a {
    color: brown;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.b {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.numBox {
    margin: 10px 0;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* Core_2 */
.color_red {
    color: red;
    border: 1px solid royalblue;
}

.light_blue {
    padding: 5px 10px;
    background-color: rgba(0, 160, 233, 0.7);
}

.blueColor {
    padding: 5px 10px;
    background-color: #00a0e9;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(180deg)
    }
}
