.minMenuBox {
    display: flex;
    flex-direction: row;
    background-color: #ddaacc;
}

.minMenuBox li {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    flex-wrap: wrap;
    margin: 0 5px;
}

.minMenuBox li a {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    display: inline-block;
}

.minMenu.is_active {
    background-color: coral;
}

/* Core_1 */
.headImg {
    width: 50px;
    animation: rotate 2s linear infinite;
}

.a {
    color: brown;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.b {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.numBox {
    margin: 10px 0;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* Core_2 */
.color_red {
    color: red;
    border: 1px solid royalblue;
}

.light_blue {
    padding: 5px 10px;
    background-color: rgba(0, 160, 233, 0.7);
}

.blueColor {
    padding: 5px 10px;
    background-color: #00a0e9;
}

.LayoutBox .ant-layout-header,
.LayoutBox .ant-layout-content,
.LayoutBox .ant-layout-sider,
.LayoutBox .ant-layout-footer {
    color: #fff;
}

.LayoutBox .ant-layout-header {
    padding: 0;
    text-align: center;
    background-color: #7dbcea;
}

.LayoutBox .ant-layout-content {
    text-align: center;
    line-height: 300px;
    height: 300px;
    background-color: rgba(16, 142, 233, 1);
}

.LayoutBox .ant-layout-sider {
    height: 300px;
    text-align: center;
    line-height: 300px;
    background-color: #3ba0e9;
}

.LayoutBox .ant-layout-footer {
    text-align: center;
    background-color: #7dbcea;
}

div.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

i.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(180deg)
    }
}
