.sideBox {
    position: fixed;
    top: 60px;
    left: 0;
    width: 200px;
    bottom: 0;
    z-index: 20;
    background-color: darkkhaki;
}

.navMenu {
    width: 100%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

.sideMenu .navMenu.is_active {
    background-color: #ddaacc;
}

.sideMenu .navMenu.is_active {
    color: cornflowerblue;
}